# Entorno virtual
.venv/
venv/

# Variables de entorno
.env

# Cache de Python
__pycache__/
*.pyc
*.pyo

# Base de datos local (si usas SQLite)
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db